python-keycloak==0.13.2
python-jose==3.0.1
requests==2.20.0
Flask==1.0.2
Flask-Login==0.4.1
flask-oidc==1.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2.15
PyMySQL==0.9.3
spacy==2.0.18
pdfminer.six==20181108
beautifulsoup4==4.7.1
en-core-web-sm==2.0.0
flask-marshmallow==0.9.0
marshmallow==2.18.0
marshmallow-sqlalchemy==0.16.0
